
.page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: 	#be1918;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    color: white;
    font-family: var(--font-caveat), cursive;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0;
    line-height: 1.2;
}


.timelineContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    max-height: 400px; 
    overflow-y: auto;   
    padding-right: 10px;
  }
  

  .timelineContainer::-webkit-scrollbar {
    width: 8px;
  }